<!DOCTYPE html>
<html>
<head>
  <title>Torkel</title>
  <script src="/stilts-stomp.js"></script>
  <script>
    window.STOMP_HOST = "ws://" + window.location.hostname + ":" + <%= raw URI.parse(fetch('stomp-endpoint')).port.to_json %> + "/";
  </script>
  <%= stylesheet_link_tag    "application", :media => "all" %>
  <%= javascript_include_tag "application" %>
  <%= csrf_meta_tags %>
</head>
<body>

<%= yield %>

</body>
</html>
